RewriteEngine on
RewriteCond %{HTTP_HOST} ^northrydesoccer\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.northrydesoccer\.com$
RewriteRule ^/?$ "http\:\/\/www\.northrydesoccer\.com\.au" [R=301,L]
DirectoryIndex index.php index.html index.htm
